/* indext.html*/

/*header*/

#nav-bar {
    list-style-type: none;
    float: right;
    display: flex;
    padding: 20px 10px 0px 20px;
    ;
    margin: 10px auto;
}

li a {
    text-decoration: none;
    margin: 5px;
    padding: 10px;
    font-size: 30px;
    font-family: 'Varela Round', sans-serif;
    color: #c45508;

}

li a:hover {
    text-decoration: underline;
}

#home-image {
    height: 80px;
    width: 80px;
    overflow: hidden;
    border-radius: 10px;
    border: none;
    margin: 0 100px;
}

/* photo section on home page */

#mid-section {
    background: url('../images/background-image.jpg') no-repeat center center;
    opacity: 1;
    height: 1000px;
    width: 100%;
    animation-name: pic-appear;
    animation-duration: 2s;
    margin-bottom: 0 0 50px 0;
}

/*need to credit this */

@keyframes pic-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 1;
    }
}


#mid-section h2 {
    font-family: 'Licorice', Oswald, sans-serif;
    letter-spacing: 3px;
    text-align: center;
    font-size: 100px;
    font-weight: 1500;
    margin: 0;
}

#mid-section p {
    margin: 0 auto;
    font-family: 'Licorice', Oswald, sans-serif;
    font-size: 50px;
    font-weight: 1500px;
    text-align: center;
}

#heading-block {
    background-color: whitesmoke;
    opacity: 0.65;
    width: 900px;
    margin: 0;
    position: relative;
    top: 100px;
    left: 20px;
    animation-name: text-appear;
    animation-duration: 5s;
}

@keyframes text-appear {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.65;
    }
}

/*article*/
article {
    margin: 0 auto;
    padding: 10px;
}

article div {
    vertical-align: top;
    display: inline-block;
}

#description {
    width: 60%;
}

#printing-image {
    position: relative;
    float: right;
    padding: 2% 12% 2% 0;
}

#printing-image-block {
    height: 350px;
    width: 275px;
    border-radius: 10px;
}

/*die hard section*/

#die-hard {
    margin: 0 auto;
    padding: 10px;
}

#die-hard div {
    vertical-align: top;
    display: inline-block;
}

#die-hard-tees {
    width: 45%;
}

#die-hard-tees img {
    width: 30%;
}

#die-hard-vid{
    width: 45%;
}